.color{
    color:#ff3755
}
.color:hover{
    text-decoration: underline #ff3755;
    cursor: pointer;
}
.bigger2One{
    width:88%;
    margin: auto;
    display: flex;
}
.bigger2One img{
    width:100%;
    border-radius: 20px;
}

.bigger2One>div:nth-child(2){
    width:30%; 
    background-color: white;  
    border-radius: 20px;
    margin-top: 50px;
    height: 80%;
    padding: 30px 50px 30px 50px;
    margin-left: -100px;
    z-index: 1;
    line-height: 30px;
    text-align: start;
   }
.container-2{
    background-color: #ff3755;
    padding-top: 50px;
    margin-top: 50px;
}
.category{
    text-decoration: underline #ff3755;
    color: white;
}
.smaller2One{
    display: flex;
    
    width: 88%;
    margin: auto;
    margin-top: 50px;

}
.smaller2One>div{
    display: flex;
}

.smaller2One>div>div:nth-child(2){
    background-color: white;
    border-radius: 20px;
    width:45%;
    text-align: start;
    padding: 5px 10px 5px 10px;
    margin-left: -150px;
    z-index: 1;
}
.smaller2One>div:nth-child(2)>div:nth-child(2){
    height: 120px;
    margin-top: 30px;
}
.smaller2One img{
    width:100%;
    border-radius: 20px;
}
.ReadMore{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    margin-bottom: 50px;
    padding-top: 70px;
}
.ReadMore>span:hover{
    cursor: pointer;
}
.container-2{
    padding-bottom: 20px;
}